body{
    font-size: 18px;
}
.hero{
    
}
#view h3{
    display: none;
}
/* #view{
    height: 300px;
} */
#views{
    height: 300px;
    width: 100%;
    border:1px solid #F1F3F4;
    /* background: firebrick; */
    /* display: flex; */
}
.zuotop{
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    border-bottom:1px solid #F1F3F4;
}
/* 下 */
.zuo{
    display: flex;
    height: 250px;
}
.zuoimg{
    width: 200px;
    height: 200px;
    line-height: 250px;
    padding: 0 50px;
}
.zuoimg img{
    width: 200px;
    height: 200px;
}
.zuodata{
    padding-top: 50px;
    width:100%;
}
.zuodata ul{
    float:left;width:15%;
}
.zuodata ul li{
    padding: 10px 0;
}
/* 风机 */
/* .feng{
    height: 300px;
} */
#feng h3{
    display: none;
}
#fengZong{
    height: 300px;
    width: 100%;
    border:1px solid #F1F3F4;
    /* background: firebrick; */
    /* display: flex; */
}
.fengtop{
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    border-bottom:1px solid #F1F3F4;
}
.fengzuo{
    display: flex;
    height: 250px;
}
.fengzuoimg{
    width: 200px;
    height: 200px;
    line-height: 250px;
    padding: 0 50px;
}
.fengzuoimg img{
    width: 200px;
    height: 200px;
}
.fengzuodata{
    padding-top: 50px;
    width:100%;
}
.fengzuodata ul li{
    padding: 10px 0;
}
/* 温控器-----离线 */
#lixian h3{
    display: none;
}
/* #viewlixian{
    height: 300px;
} */
#viewslixian{
    height: 300px;
    width: 100%;
    border:1px solid #F1F3F4;
    /* background: firebrick; */
    /* display: flex; */
}
.zuotoplixian{
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    border-bottom:1px solid #F1F3F4;
}
/* 下 */
.zuolixian{
    display: flex;
    height: 250px;
}
.zuoimglixian{
    width: 200px;
    height: 200px;
    line-height: 250px;
    padding: 0 50px;
}
.zuoimglixian img{
    width: 200px;
    height: 200px;
}
.zuodatalixian{
    padding-top: 50px;
    width:100%;
}
.zuodatalixian ul{
    float:left;width:15%;
}
.zuodatalixian ul li{
    padding: 10px 0;
}
/* 风机---离线 */
/* .leave{
    height: 300px;
} */
#leave h3{
    display: none;
}
#fengZongleave{
    height: 300px;
    width: 100%;
    border:1px solid #F1F3F4;
    /* background: firebrick; */
    /* display: flex; */
}
.fengtopleave{
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    border-bottom:1px solid #F1F3F4;
}
.fengzuoleave{
    display: flex;
    height: 250px;
}
.fengzuoimgleave{
    width: 200px;
    height: 200px;
    line-height: 250px;
    padding: 0 50px;
}
.fengzuoimgleave img{
    width: 200px;
    height: 200px;
}
.fengzuodataleave{
    padding-top: 50px;
    width:100%;
}
.fengzuodata ul li{
    padding: 10px 0;
}
