<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>
      .user{
          margin-top:30px;
      }
  </style>
</head>
<body>
        <form class="layui-form" action="">
                <div class="layui-form-item user" >
                  <label class="layui-form-label">用户名</label>
                  <div class="layui-input-block">
                    <input style="width:320px;" type="text" name="userName" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item" style="padding-top:5px;">
                  <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                      <input style="width:320px;" type="tel" name="phone" lay-verify="required|phone" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">权限选择</label>
                  <div class="layui-input-block" style="width:320px;">
                    <select name="roleName" lay-filter="aihao">
                      <option value=""></option>
                      <option value="1">管理员</option>
                      <option value="2" selected="">普通用户</option>
                    </select>
                  </div>
                </div>
                <div class="layui-form-item" style="margin-top:20px;">
                  <div class="layui-input-block" >
                    <button style="margin-right:30px;margin-left: 50px;" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
                </div>
              </form>
          
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
        layui.use(['form', 'layedit', 'laydate'], function(){
                var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate
                ,$=layui.$;
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                //自定义验证规则
                form.verify({
                    title: function(value){
                    }
                    ,pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                    ]
                    ,content: function(value){
                    layedit.sync(editIndex);
                    }
                });
                function sleep(d){
                 for(var t = Date.now();Date.now() - t <= d;);
            }
                //监听提交
                form.on('submit(demo1)', function(data){
                      console.log(data.field.roleName);
                      $.ajax({
                            url: "/user/add",
                            dataType: 'json',
                            type: 'post',
                            async: false,
                            data: {
                                userName:data.field.userName,
                                phone:data.field.phone,
                                roleId:data.field.roleName,
                            },
                          complete: function (XHR, TS) {
                          var returnObj = eval('(' + XHR.responseText + ')');
                          var index = parent.layer.getFrameIndex(window.name); //取得iframe窗口index值
                          parent.layui.$("#handle_status").val(returnObj.msg); //向父窗口写值
                          parent.layer.close(index); //根据index值，关闭iframe窗口
                        }
                    });
                    // ; //当前方法暂停5秒
                    parent.layer.close(index); //再执行关闭    
                });
        });
  
   
</script>

</body>
</html>