<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test" lay-data="{id: 'idTest'}"></table>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <input type='text' id="handle_status" value="" hidden="hidden">
          <button class="layui-btn layui-btn-sm" lay-event="getCheckData">批量删除</button>
          <!-- <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
          <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button> -->
          <button class="layui-btn layui-btn-sm" lay-event="addUser">添加用户</button>
        </div>
      </script>
      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
      <script src="../static/layui/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
     //--获取session中的值
    /*<![CDATA[*/
    var ceshi=/*[[${session.user}]]*/   --获取session中的值
    // console.log(xx);
    /*]]>*/  
    // console.log(ceshi);
            layui.use('table', function(){
              var $=layui.$;
              var table = layui.table;
              var _tooxs = {
                // 添加成功
               func1: function(){
                layer.msg("修改成功", { anim: 6, time: 2000 });
                       },
                func2: function(){
                layer.msg("修改失败", { anim: 6, time: 2000 });
                       }
                    }
              window.tooxs = _tooxs;
              
              table.render({
                elem: '#test'
                ,url:'/user/queryList'
                ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                  title: '提示'
                  ,layEvent: 'LAYTABLE_TIPS'
                  ,icon: 'layui-icon-tips'
                }]
                ,title: '用户数据表'
                ,
                cols: [
                    [
                  {type: 'checkbox', fixed: 'left'}
                  // ,{field:'userId', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                  ,{field:'userName', title:'用户名', width:120, edit: 'text'}
                  ,{field:'phone', title:'phone', width:120,edit: 'text'}
                  ,{field:'roleName', title:'角色描述', width:120,edit: 'text'}
                  ,{field:'createTime', title:'加入时间', width:200}
                  ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                 ]
                ]
                ,
                page: true,
                limit : 5,
              });

              //头工具栏事件
              table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                // 添加用户
                if(obj.event === 'addUser'){
                  layer.open({
                    type: 2,
                    id: 'showLayui',
                    title: '添加用户',
                    content:['adduser','no',], //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: ['500px','350px'],
                    // btn: ['确定', '取消'],
                    btnAlign: 'c',
                    success: function (layero, index) {//打开层之后可执行的回调
                      layui.use(['form', 'layer'], function () {
                        var form = layui.form;
                        var layer = layui.layer;
                        form.render();  //重新渲染表单
                      });
                            },
                      yes: function (index, layero) { //确定按钮
                      
                    },
                    end: function(){
                      var hstatus = $('#handle_status').val();
                      console.log(hstatus);
                      if(hstatus==undefined||hstatus==""||hstatus==null){
                      }else{
                        window.parent.layer.msg(hstatus);
                        window.location.reload();
                      }
                    },
                });
                }else if(obj.event ==='getCheckData'){
                  var data = checkStatus.data;
                  var userId = new Array(data.length)
                  for ( var i = 0; i <data.length; i++){
                      userId[i]=data[i].userId;
                  }
                  uu=userId.join(',');
                  // var userId=data[0].userId;
                  console.log(uu);
                  layer.confirm('真的批量删除吗', function(index){
                    $.ajax({
                        url: "/user/deleteUser",
                        dataType: 'json',
                        type: 'post',
                        async: false,
                        data: {
                                userId:uu,
                              },
                        complete: function (XHR, TS) {
                          var returnObj = eval('(' + XHR.responseText + ')');
                          if (returnObj.code != 200) {
                            layer.msg(returnObj.msg, { anim: 6, time: 1500 });
                          } else {
                            layer.msg(returnObj.msg, { icon: 1, time: 1500 });
                            layer.close(index);
                          }
                        }
                      });
                      
                    window.location.reload();
                    layer.close(index);
                  });
                  
                }
                switch(obj.event){
                  // case 'getCheckData':
                  //   var data = checkStatus.data;
                  //   layer.alert(JSON.stringify(data));
                  // break;
                  //自定义头工具栏右侧图标 - 提示
                  case 'LAYTABLE_TIPS':
                    layer.alert('人生如逆旅，我亦是行人！');
                  break;
                };
              });
              
              //监听行工具事件
              table.on('tool(test)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                  layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url: "/user/deleteUser",
                        dataType: 'json',
                        type: 'post',
                        async: false,
                        data: {
                                userId:data.userId,
                              },
                        complete: function (XHR, TS) {
                          var returnObj = eval('(' + XHR.responseText + ')');
                          if (returnObj.code != 200) {
                            layer.msg(returnObj.msg, { anim: 6, time: 1500 });
                          } else {
                            layer.msg(returnObj.msg, { icon: 1, time: 1500 });
                            layer.close(index);
                          }
                        }
                      });
                    obj.del();
                    layer.close(index);
                  });
                } else if(obj.event === 'edit'){
                  layer.open({
                      type: 2,
                      title: '用户编辑',
                      skin: 'layui-layer-rim', //加上边框
                      area: ['500px','350px'], //宽高
                    // btn: ['提交','取消'],
                      content:['userEdit','no',] ,
                      success:function (layero, index) {//打开层之后可执行的回调
                        var jquerySendHelloButton = $("#sid", layero.find("iframe")[0].contentWindow.document);  
                        jquerySendHelloButton.attr("value", id );
                        var jquerySendHelloButton = $("#siduserName", layero.find("iframe")[0].contentWindow.document);  
                        jquerySendHelloButton.attr("value", userName );
                        var jquerySendHelloButton = $("#sidphone", layero.find("iframe")[0].contentWindow.document);  
                        jquerySendHelloButton.attr("value", phone );
                        var jquerySendHelloButton = $("#roleId", layero.find("iframe")[0].contentWindow.document);  
                        jquerySendHelloButton.attr("value", roleId );
                        },
                      yes: function(index, layero){
                      },
                      end:function(){　　　　　　　　　　　　　　
                        // location.reload();
                        obj.update();
                    }
                  })
                   var id=data.userId;
                   var userName=data.userName;
                   var phone=data.phone;
                   var roleId;
                   console.log(data.roleName);
                   if(data.roleName=="管理员"){
                    roleId=1;
                   }else{
                    roleId=2;
                   }
                  }
              });
            });
            </script> 
</body>
</html>
