<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/DeviceInformation.css" />
  <script >
   

  </script>
</head>
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin" >
  <div class="layui-header " >
    <div class="layui-logo">学校设备监控平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!-- <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul> -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="#" id="UserDetails" >基本资料</a></dd>
          <dd><a href="#" id="showIndexUpdatePW">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" id="exit"><a href="#">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div title="菜单缩放" class="kit-side-fold"><i class="fa fa-navicon ff" aria-hidden="true"></i></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" style="display: none;" id="roleuser">
                    <a class="" href="javascript:;"><i class="fa fa-user-circle-o fa-lg"></i> <span >设备监控</span></a>
                    <dl class="layui-nav-child">
                        <dd  ><a  data-url="ceshi" data-title="用户信息"  data-id="22" class="site-demo-active" data-type="tabAdd" ><i class="fa fa-clipboard fa-lg"></i> <span >用户信息</span></a></dd>
                        <!-- <dd><a  data-url="DeviceInformation" data-id="12" data-title="设备信息"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-file-text fa-lg"></i> <span >设备信息</span></a></dd> -->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-vcard fa-lg"></i> <span >学校管理</span></a>
                    <dl class="layui-nav-child">
                        <dd id="jinanOne" style="display: none;"><a href="javascript:;"data-url="schooleOne" data-id="13" data-title="济南一中"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-th-list fa-lg"></i> <span >济南一中</span></a></dd>
                        <dd id="jinanTwo" style="display: none;"><a href="javascript:;"data-url="schooleSecond" data-id="14" data-title="济南二中"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-user-o fa-lg"></i> <span >济南二中</span></a></dd>
                        <!-- <dd><a href="javascript:;"data-url="EChartsBing" data-id="15" data-title="饼图"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-send-o fa-lg"></i> <span >饼图</span></a></dd>
                        <dd><a href="javascript:;"data-url="g" data-id="16" data-title="选项g"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-frown-o fa-lg"></i> <span >成绩管理</span></a></dd> -->
                    </dl>
                </li>
                <!-- <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-diamond fa-lg"></i> <span >管理设置</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;"data-url="h" data-id="17" data-title="选项h"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-address-book fa-lg"></i> <span >账号管理</span></a></dd>
                        <dd><a href="javascript:;"data-url="i" data-id="18" data-title="选项i"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-check-square fa-lg"></i> <span >授权管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-gear fa-lg"></i> <span >系统管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;"data-url="j" data-id="19" data-title="选项j"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-window-restore fa-lg"></i> <span >系统信息</span></a></dd>
                        <dd><a href="javascript:;"data-url="k" data-id="20" data-title="选项k"  class="site-demo-active" data-type="tabAdd"><i class="fa fa-database fa-lg"></i> <span >操作日志</span></a></dd>
                    </dl>
                </li>  -->
            </ul>
        </div>
    </div>
     <!-- 内容主体区域 开始-->
  <div class="layui-body">
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin:0px;">
                <ul class="layui-tab-title">
                        
                </ul>
                <ul class="rightmenu" style="display: none;position: absolute;">
                    <li data-type="closethis">关闭当前</li>
                    <li data-type="closeall">关闭所有</li>
                </ul>
                <div class="layui-tab-content">
                </div>
            </div>
    <!-- <div style="padding: 15px;">内容主体区域</div> -->
  </div>
  <!-- 内容主体区域   结束 -->

  <!-- <div class="layui-footer">
    底部固定区域
    © layui.com - 底部固定区域
  </div> -->
</div>
<script src="../static/layui/layui.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- 修改密码 -->
<script th:inline="javascript">
      // 权限验证
    $(function(){
         //--获取session中的值
    /*<![CDATA[*/
    var xx=/*[[${session.user}]]*/   --获取session中的值
    // console.log(xx);
    /*]]>*/ 
    var roleName=xx.roleName;
    console.log(xx.roleName);
	if(roleName=="管理员"){
        document.getElementById("roleuser").style.display="";
        document.getElementById("jinanOne").style.display="";
        document.getElementById("jinanTwo").style.display="";
    }else if(roleName=="济南一中"){
        document.getElementById("jinanOne").style.display="";
    }else{
        document.getElementById("jinanTwo").style.display="";
    }
    })
       //--获取session中的值
    /*<![CDATA[*/
    var xx=/*[[${session.user}]]*/   --获取session中的值
    // console.log(xx);
    /*]]>*/ 
    var _tools = {
    func1: function(){
        layer.msg("修改成功", { anim: 6, time: 1500 });
    },
    func2: function(){
        layer.msg("修改失败", { anim: 6, time: 1500 });
    },
  }
  window.tools = _tools;

//修改密码操作
    layui.use('layer', function(){
    var layer = layui.layer;
    var $ = layer.$;
    }); 
    $('#showIndexUpdatePW').on("click" ,function () {
            console.log("13:59");
			layer.open({
				type: 2,
				id: 'showLayui',
				title: '修改密码',
				content:'ChangePassword', //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
				area: ['550px','300px'],
				// btn: ['确定', '取消'],
				btnAlign: 'c',
				success: function (layero, index) {//打开层之后可执行的回调
					layui.use(['form', 'layer'], function () {
						var form = layui.form;
                        var layer = layui.layer;
						form.render();  //重新渲染表单
					});
                },
				yes: function (index, layero) { //确定按钮
                    layer.close(index);
                },
                end: function () { //只要层被销毁了，end都会执行
                    console.log("end");
					$('#ChangePassword').html("");
                },
               	
			});
        });
        // 基本资料
        $('#UserDetails').on("click" ,function () {
            var userName;
            var phone;
            var createTime;
            $.ajax({
                url:"/user/details"
                ,dataType:'json'
                ,type:'get'
                ,data:{
                    userId:xx.userId
                }
                ,complete:function(XHR,TS){
                var returnObj = eval('(' + XHR.responseText + ')');
                userName=returnObj.userName; 
                phone=returnObj.phone;
                createTime=returnObj.createTime;
                    layer.open({
                    type: 2,
                    id: 'showLayui',
                    title: '基本资料',
                    content:['UserInformation','no',], 
                    area: ['550px','300px'],
                    // btn: ['确定', '取消'],
                    btnAlign: 'c',
                    success: function (layero, index) {//打开层之后可执行的回调
                            var jquerySendHelloButton = $("#siduserName", layero.find("iframe")[0].contentWindow.document);  
                            jquerySendHelloButton.attr("value", userName );
                            var jquerySendHelloButton = $("#sidphone", layero.find("iframe")[0].contentWindow.document);  
                            jquerySendHelloButton.attr("value", phone ); 
                            var jquerySendHelloButton = $("#createTime", layero.find("iframe")[0].contentWindow.document);  
                            jquerySendHelloButton.attr("value", createTime );
                    },
                    yes: function (index, layero) { //确定按钮
                        
                        layer.close(index);
                    },
                    end: function () { //只要层被销毁了，end都会执行
                        // $('#UserDetails').html("");
                    },
                
                });
                }
            });
        });
    // 退出
        $('#exit').on("click" ,function () {
            layer.confirm('你确定要退出吗？',{icon:5,title:'退出系统'},function(index){
        			layer.close(index);
                    // 清除数据记录并跳转到指定向页面
                    console.log("已经清除session");
                    sessionStorage.clear()   //清除所有session值
                    $.ajax({
                        url:'/user/exit'
                        ,dataType:'json'
                        ,type:'post'
                        ,async: false
                        ,data:{
                        }
                        ,complete:function(XHR,TS){
                        var returnObj = eval('(' + XHR.responseText + ')');
                        console.log(returnObj.msg);
                        if(returnObj.msg=="成功"){
                            console.log("退出成功");
                            layer.msg("退出成功", { anim: 6, time: 1500 });
                        }else{
                            console.log("退出失败");
                            layer.msg("退出成功", { anim: 6, time: 1500 });
                        }
                        }
                    });
        			window.location.href="login.html";
        		},function(index){
        		    停止运作
        			layer.close(index);
        		})
            
        });
</script>
<script type="text/javascript">
	// 设置定时器
	// var t1 = window.setInterval(repeat,3000); 
	// function repeat(){
	// 	$.post('/iotApi/getReceiveMsg',{"uuid":"8622d15dff814"},function (res) {
	// 	// 开始解析
	// 		var msg=res.msg;
    //         if (res.code == 1) {
	// 			if(msg.substr(7,4)=="0008"){
	// 				document.getElementById("zhuangtai").innerHTML="开着";
	// 				console.log("测试");
	// 			}
				
    //         }
    //     })
	// }
	//去掉定时器的方法 
	// window.clearInterval(t1)
</script>
<script>
    layui.use('element', function() {
            var $ = layui.jquery;
            var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                //在这里给active绑定几项事件，后面可通过active调用这些事件
                tabAdd: function(url,id,name) {
                    //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                    //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                    element.tabAdd('demo', {
                        title: name,
                        content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:99%;"></iframe>',
                        id: id //规定好的id
                    })
                     CustomRightClick(id); //给tab绑定右击事件
                     FrameWH();  //计算ifram层的大小
                },
                tabChange: function(id) {
                    //切换到指定Tab项
                    // console.log("id"+id);
                    element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                }, 
                tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
                },
                tabDeleteAll: function (ids) {//删除所有
                    $.each(ids, function (i,item) {
                        element.tabDelete("demo", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                    })
                }
            };


            //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
            $('.site-demo-active').on('click', function() {
                var dataid = $(this);
                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                } else {
                    //否则判断该tab项是否以及存在

                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-id"));
            });

            function CustomRightClick(id) {
                //取消右键  rightmenu属性开始是隐藏的 ，当右击的时候显示，左击的时候隐藏
                $('.layui-tab-title li').on('contextmenu', function () { return false; })
                $('.layui-tab-title,.layui-tab-title li').click(function () {
                    $('.rightmenu').hide();
                });
                //桌面点击右击 
                $('.layui-tab-title li').on('contextmenu', function (e) {
                    var popupmenu = $(".rightmenu");
                    popupmenu.find("li").attr("data-id",id); //在右键菜单中的标签绑定id属性

                    //判断右侧菜单的位置 
                    l = ($(document).width() - e.clientX) < popupmenu.width() ? (e.clientX - popupmenu.width()) : e.clientX;
                    t = ($(document).height() - e.clientY) < popupmenu.height() ? (e.clientY - popupmenu.height()) : e.clientY;
                    popupmenu.css({ left: l, top: t }).show(); //进行绝对定位
                    //alert("右键菜单")
                    return false;
                });
            }

            $(".rightmenu li").click(function () {

                //右键菜单中的选项被点击之后，判断type的类型，决定关闭所有还是关闭当前。
                if ($(this).attr("data-type") == "closethis") {
                    //如果关闭当前，即根据显示右键菜单时所绑定的id，执行tabDelete
                    active.tabDelete($(this).attr("data-id"))
                } else if ($(this).attr("data-type") == "closeall") {
                    var tabtitle = $(".layui-tab-title li");
                    var ids = new Array();
                    $.each(tabtitle, function (i) {
                        ids[i] = $(this).attr("lay-id");
                    })
                    //如果关闭所有 ，即将所有的lay-id放进数组，执行tabDeleteAll
                    active.tabDeleteAll(ids);
                }

                $('.rightmenu').hide(); //最后再隐藏右键菜单
            })
            function FrameWH() {
                var h = $(window).height() -41- 10 - 60 -10-44 -10;
                $("iframe").css("height",h+"px");
            }

            $(window).resize(function () {
                FrameWH();
            })
        });
</script>
<script>
        // 预加载layui.use 
        //JavaScript代码区域
        layui.use(['jquery' ,'element'], function(){
         var element = layui.element;
         var jquery = layui.jquery;
         var $ = layui.$;//这里是声明jquery的 
        });
        var isShow = true;  //定义一个标志位
        $('.kit-side-fold').click(function(){
            //选择出所有的span，并判断是不是hidden
            $('.layui-nav-item span').each(function(){
                if($(this).is(':hidden')){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
            //判断isshow的状态
            if(isShow){
                $('.layui-side.layui-bg-black').width(60); //设置宽度
                $('.kit-side-fold i').css('margin-right', '70%');  //修改图标的位置
                //将footer和body的宽度修改
                $('.layui-body').css('left', 60+'px');
                $('.layui-footer').css('left', 60+'px');
                //将二级导航栏隐藏
                $('dd span').each(function(){
                    $(this).hide();
                });
                //修改标志位
                isShow =false;
            }else{
                $('.layui-side.layui-bg-black').width(200);
                $('.kit-side-fold i').css('margin-right', '10%');
                $('.layui-body').css('left', 200+'px');
                $('.layui-footer').css('left', 200+'px');
                $('dd span').each(function(){
                    $(this).show();
                });
                isShow =true;
            }
        });
    
    </script>
</body>
</html>