<!DOCTYPE html>
<html lang="en" class="no-js">
	
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../static/css/schooleOne.css" />
<!-- <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all"> -->
<title>login</title>
</head>
<body>
<section class="hero">

	<div id="view">
	</div>
	<div id="lixian">

	</div>
	<div id="feng">
	</div>
	<div id="leave">
	</div>
</section>
<script src="../static/layui/layui.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!-- ：温控器 data -->
<script type="text/javascript">
	layui.use('laytpl', function(){
		var laytpl = layui.laytpl;	
		repeat();
		repeatfeng();
		repeatlixian();
		repeatfengleave();
		// var t1 = window.setInterval(function(){repeat();repeatfeng();},3000);
		}); 
	// 设置定时器
	function repeat(){
		$.post('/device/getTemperatureControlData',function (res) {
		// 开始解析
			layui.use('laytpl', function(){
			var laytpl = layui.laytpl;
			console.log(res.data);
			if(res.data!=null){
				var data = { //数据
			"title":"温控器"
			,"list":res.data
			}
			var getTpl = wenkong.innerHTML
			,view = document.getElementById('view');
			laytpl(getTpl).render(data, function(html){
			view.innerHTML = html;
			});
			}
			}); 
	        })
	}
	function repeatlixian(){
		$.post('/device/getOffLineTemperatureControlData',function (res) {
		// 开始解析
			layui.use('laytpl', function(){
			var laytpl = layui.laytpl;
			console.log(res.data);
			if(res.data!=null){
				var data = { //数据
			"title":"温控器"
			,"list":res.data}
			var getTpl = wenkonglixian.innerHTML
			,lixian = document.getElementById('lixian');
			laytpl(getTpl).render(data, function(html){
			lixian.innerHTML = html;
			});
			}
			}); 
	        })
	}
</script>
<!--：风机 data-->
<script type="text/javascript">
	function repeatfeng(){
		$.post('/device/getFanControlData',function (res) {
		// 开始解析
			layui.use('laytpl', function(){
			var laytpl = layui.laytpl;
			console.log(res.data);
			if(res.data!=null){
			var data = { //数据
			"title":"温控器"
			,"list":res.data}
			var getTpl = fengji.innerHTML
			,feng = document.getElementById('feng');
			laytpl(getTpl).render(data, function(html){
			feng.innerHTML = html;
			});
			}
			}); 
	        })
	}
	function repeatfengleave(){
		$.post('/device/getOffLineFanControlData',function (res) {
		// 开始解析
			layui.use('laytpl', function(){
			var laytpl = layui.laytpl;
			console.log(res.data);
			if(res.data!=null){
			var data = { //数据
			"title":"温控器"
			,"list":res.data
			}
			var getTpl = fengjileave.innerHTML
			,leave = document.getElementById('leave');
			laytpl(getTpl).render(data, function(html){
			leave.innerHTML = html;
			});
			}
			}); 
	        })
	}
</script>
<!-- //温控器模板  在线-->
<script id="wenkong" type="text/html">
	<h3>{{ d.title }}</h3>
<ul>
{{#  layui.each(d.list, function(index, item){ }}
	<div id="views">
		<div class="zuotop">{{ item.deviceTypeName }}</div>
		<div class="zuo">
			<div class="zuoimg"><img src="../static/img/wenkongqi.png" alt=""></div>
			<div class="zuodata">
				<ul>
					<li>阀门状态:{{ item.valveStatusName }}</li>
					<li>冷水温度:{{ item.inletTemperature }}℃</li>
					<li>内管温度:{{ item.reWaterTemperature }}℃</li>
				</ul>
				<ul>
					
					<li>设备状态:在线</li>
					<li>外管温度:{{ item.beiYiTemperature }}℃</li>
					<li>集热温度:{{ item.beiErTemperature }}℃</li>
				</ul>
			</div>
		</div>
	</div>
{{#  }); }}
 
{{#  if(d.list.length === 0){ }}
  无数据
{{#  } }} 
</ul>
</script>
<!-- //温控器模板  离线-->
<script id="wenkonglixian" type="text/html">
	<h3>{{ d.title }}</h3>
<ul>
{{#  layui.each(d.list, function(index, item){ }}
	<div id="viewslixian">
		<div class="zuotoplixian">{{ item.deviceTypeName }}</div>
		<div class="zuolixian">
			<div class="zuoimglixian"><img src="../static/img/wenkongqi.png" alt=""></div>
			<div class="zuodatalixian">
					<ul>
						<li>阀门状态:{{ item.valveStatusName }}</li>
						<li>冷水温度:{{ item.inletTemperature }}℃</li>
						<li>内管温度:{{ item.reWaterTemperature }}℃</li>
					</ul>
					<ul>
						
						<li>设备状态:离线</li>
						<li>外管温度:{{ item.beiYiTemperature }}℃</li>
						<li>集热温度:{{ item.beiErTemperature }}℃</li>
					</ul>
			</div>
		</div>
	</div>
{{#  }); }}
 
{{#  if(d.list.length === 0){ }}
  无数据
{{#  } }} 
</ul>
</script>
<!-- //风机模板   在线-->
<script id="fengji" type="text/html">
	<h3>{{ d.title }}</h3>
<ul>
{{#  layui.each(d.list, function(index, item){ }}
	<div id="fengZong">
		<div class="fengtop">{{ item.deviceTypeName }}</div>
		<div class="fengzuo">
			<div class="fengzuoimg"><img src="../static/img/fengji.png" alt=""></div>
			<div class="fengzuodata">
				<ul>
					<li>设备状态:{{ item.fanStatusName }}</li>
				</ul>
			</div>
		</div>
	</div>
{{#  }); }}
 
{{#  if(d.list.length === 0){ }}
  无数据
{{#  } }} 
</ul>
</script>
<!-- //风机模板   离线-->
<script id="fengjileave" type="text/html">
	<h3>{{ d.title }}</h3>
<ul>
{{#  layui.each(d.list, function(index, item){ }}
	<div id="fengZongleave">
		<div class="fengtopleave">{{ item.deviceTypeName }}</div>
		<div class="fengzuoleave">
			<div class="fengzuoimgleave"><img src="../static/img/fengji.png" alt=""></div>
			<div class="fengzuodataleave">
				<ul>
					<li>设备状态:{{ item.fanStatusName }}</li>
				</ul>
			</div>
		</div>
	</div>
{{#  }); }}
 
{{#  if(d.list.length === 0){ }}
  无数据
{{#  } }} 
</ul>
</script>
	</body>
</html>