<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>
      .user{
          margin-top:30px;
      }
  </style>
</head>
<body>
        <form class="layui-form" action="">
                <div class="layui-form-item user" >
                  <label class="layui-form-label">用户名</label>
                  <div class="layui-input-block">
                        <input type="text"  id="sid"  style="display:none" >
                    <input style="width:320px;" id="siduserName"  readonly="readonly"  autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <div class="layui-inline" style="margin-top:10px">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                      <input style="width:320px;" id="sidphone" readonly="readonly" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-inline" style="margin-top:20px">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-inline">
                        <input style="width:320px;" id="createTime" readonly="readonly" type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div >
                    
              </form>
          
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
   
        
       
   
</script>

</body>
</html>