<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>
      .user{
          margin-top:30px;
      }
  </style>
</head>
<body>
        <form class="layui-form" action="">
                <div class="layui-form-item user" >
                  <label class="layui-form-label">用户名</label>
                  <div class="layui-input-block">
                        <input type="text"  id="sid"  style="display:none" >
                        <input type="text"  id="roleId"  style="display:none" >
                    <input style="width:320px;" id="siduserName"  oninput="OnInput (event)" onpropertychange="OnPropChanged (event)"   type="text" name="userName" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item" style="padding-top:5px;">
                  <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                      <input style="width:320px;" placeholder="请输入" id="sidphone" oninput="OnInputphone (event)" onpropertychange="OnPropChangedphone (event)" type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                    </div>
                  </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限选择</label>
                    <div class="layui-input-block" style="width:320px;">
                      <select name="roleId" lay-filter="aihao" id="" onchange="roleIdChange">
                        <option value=""></option>
                        <option value="1">管理员</option>
                        <option value="2">济南一中</option>
                        <option value="3">济南二中</option>
                      </select>
                    </div>
                  </div>
                <div class="layui-form-item" style="margin-top:20px;">
                  <div class="layui-input-block" >
                    <button style="margin-right:30px;margin-left: 50px;" type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary" onclick="gunm()">取消</button>
                  </div>
                </div>
              </form>
          
<script src="../static/layui/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
        //--获取session中的值
    /*<![CDATA[*/
    var userEdit=/*[[${session.user}]]*/   --获取session中的值
    // console.log(xx);
    /*]]>*/  
         // 监听input输入框信息
            var userName;
            var phone;
            var id;
            var roleId;
                // Firefox, Google Chrome, Opera, Safari, Internet Explorer from version 9
                function OnInput (event) {
                    userName= event.target.value;
                    console.log(userName);
            }
            // Internet Explorer
            function OnPropChanged (event) {
                // if (event.propertyName.toLowerCase () == "value") {
                        userName= event.srcElement.value;
                    console.log(userName);
                // }
            }
            function OnInputphone (event) {
                    phone= event.target.value;
                    console.log(phone);
            }
            function OnPropChangedphone (event) {
                        phone= event.srcElement.value;
                    console.log(phone);
            }
            function OnInputroleId (event) {
                    roleId= event.target.value;
                    console.log(roleId);
            }
            function OnPropChangedroleId (event) {
                     roleId= event.srcElement.value;
                    console.log(roleId);
            }
                
        layui.use(['form', 'layedit', 'laydate','layer'], function(){
                var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate
                ,$=layui.$;
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                //自定义验证规则
                form.verify({
                    title: function(value){
                    }
                    ,pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                    ]
                    ,content: function(value){
                    layedit.sync(editIndex);
                    }
                });
                function sleep(d){
                 for(var t = Date.now();Date.now() - t <= d;);
                  }
                form.on('select(aihao)', function(data){
                    if(data.value == 1){
                        form.render('select');
                        roleId=data.value;
                        console.log(data.value);
                    }else{
                        form.render('select');//select是固定写法 不是选择器
                        roleId=data.value;
                        console.log(data.value);
                    }
                });

                //   获取input输入框的值
                id=$("#sid").val();
                userName=$(" #siduserName ").val();
                phone=$(" #sidphone ").val();
                roleId=$("#roleId").val();
                console.log(roleId);
                //监听提交
                form.on('submit(demo1)', function(data){
                    console.log(roleId);
                        if((/^1[3456789]\d{9}$/.test(phone))){ 
                          $.ajax({
                            url: "/user/saveEditUser",//修改用户详情
                            dataType: 'json',
                            type: 'post',
                            async: false,
                            data: {
                                userName:userName,
                                phone:phone,
                                userId:id,
                                roleId:roleId,
                            },
                            complete: function (XHR, TS) {
                                var returnObj = eval('(' + XHR.responseText + ')');
                                if (returnObj.msg == "修改成功") {
                                   
                                    parent.tooxs.func1();
                                    parent.location.reload();
                                } else {
                                    parent.tooxs.func2();
                                    parent.location.reload();
                                }
                            }
                          });
                          }else{
                            alert("手机号码有误，请重填");  
                              return false; 
                          }
                          parent.layer.close(index); //再执行关闭
                          return false; 
                    // sleep(2000); //当前方法暂停5秒
                       
                });
               
        });
        function gunm(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭 
        }
   
</script>

</body>
</html>